div{
    background-color:pink;
    height:550px;
    width:23.5%;
    border:6.5px black solid;
    /* border-radius:15px; */
    padding: 4px;
    float:left;
    color:rgb(212, 7, 41);
    /* margin-left:5px; */
}
h1{
    color: rgb(6, 6, 78);
    text-align:center;

}
    
img{
    height: 250px;
    width: 100%;
    
}

h3{
    color: black;
}
p{
    font-size:large;
    font-family:Arial, Helvetica, sans-serif
}